{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
    <section>  
        <div class="container">
            <div class="row">
                <div class = "col-6">
                    <h5 class="alert alert-primary mt-3" role="alert">
                        Thank you for shopping with us. Please fill in the details below. 
                    </h5>
                </div>
            </div>
          
            <div class="row">
                <div class = "col-6">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.firstname.label }}
                            {{ form.firstname(class="form-control", size=30) }}
                        </div>
                        <div class="form-group">
                            {{ form.surname.label }}
                            {{ form.surname(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label }}
                            {{ form.phone(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.address.label }}
                            {{ form.address(class="form-control")}}
                        </div>
                        <div>
                            {{ form.submit}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
